html,
body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.myBtn {
    width: 200px;
    color: #fff;
    background-color: #698ade;
    border-color: #698ade;
}

.myBtn:hover {
    color: #fff;
    background-color: #4668bf;
    border-color: #4668bf;
}

#canvas {
    margin: 20px;
    box-shadow: 0px 0px 20px 2px #bcbcbc;
    border-radius: 50px;
    background-color: #e7ebf5;
}

.container {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemText {
    color: #698ade;
    font-weight: bold;
    display: flex;
}

.itemLoadingBar {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loadingBar {
    margin: 5px;
    float: left;
    border-radius: 30px;
    width: 400px;
    height: 20px;
    position: relative;
    box-shadow: 0px 0px 15px 2px #bcbcbc;
    background-color: #d9d9d9;
}

#loadingLine {
    border-radius: 30px;
    height: 100%;
    width: 0%;
    background-color: #698ade;
    position: absolute;
}

.loadingPercentBar {
    z-index: 10;
    position: absolute;
    top: -5px;
    color: white;
    font-weight: 900;
    font-size: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
}